*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
    background-color: black;
    color:greenyellow;
}
h1{
    color:greenyellow;
    animation: text 1.5s infinite;
}
h2{
    color:blue;
    animation: text2 1s infinite
}
@keyframes text{
    0%{
        text-shadow: -2px -2px 2px none;
    }
    50%{
        text-shadow: -2px -2px 2px red;
    }
    100%{
        text-shadow: -2px -2px 2px none;
    }
}
@keyframes text2{
    0%{
        color:blue;
    }
    1%{
        color:yellow;
    }
    49%{
        color:yellow;
    }
    50%{
        color:blue;
    }
}